<div id="contenedorForm">

  <h2>{{ petId ? 'Editar animal' : 'Agregar animal' }}</h2>

  <form [formGroup]="petForm" (ngSubmit)="onSubmit()">

    <!-- NOMBRE -->
    <div>
      <label for="name">Nombre (*)</label>
      <input type="text" id="name" formControlName="name" placeholder="Ingresa el nombre" />
      <div class="error-space">
        @if (petForm.controls['name'].errors?.['required'] && petForm.get('name')?.touched) {
          <p>El nombre es obligatorio</p>
        }
      </div>
    </div>

    <!-- TIPO -->
    <div>
      <label for="type">Tipo de animal (*)</label>
      <select name="type" id="type" formControlName="type">
        <option value="" selected disabled>Seleccione una opcion</option>
        @for (t of types; track $index) {
          <option [value]="t">{{ t }}</option>
        }
      </select>
      <div class="error-space">
        @if (petForm.controls['type'].errors?.['required'] && petForm.get('type')?.touched) {
          <p>El tipo es obligatorio</p>
        }
      </div>
    </div>

    <!-- EDAD -->
    <div>
      <label for="age">Edad (*)</label>
      <input type="number" id="age" formControlName="age" placeholder="Ingrese la edad" />
      <div class="error-space">
        @if (petForm.controls['age'].errors?.['required'] && petForm.get('age')?.touched) {
          <p>La edad es obligatoria</p>
        }
      </div>
    </div>

    <!-- UNIDAD DE EDAD -->
    <div class="age-unit-group">
      <label>Unidad de edad (*)</label>

      <div class="unit-options">
        <label>
          <input type="radio" value="años" formControlName="ageUnit" /> Años
        </label>
        <label>
          <input type="radio" value="meses" formControlName="ageUnit" /> Meses
        </label>
      </div>

      <div class="error-space">
        @if (petForm.controls['ageUnit']?.errors?.['required'] && petForm.get('ageUnit')?.touched) {
          <p>La unidad es obligatoria</p>
        }
      </div>
    </div>

    <!-- TAMAÑO -->
    <div class="size-group">
      <span class="size-label">Tamaño (*)</span>
      <div class="size-options">
        @for (size of sizes; track $index) {
          <label class="size-option">
            <input type="radio" [value]="size" formControlName="size" />
            <span>{{ size }}</span>
          </label>
        }
      </div>

      <div class="error-space">
        @if (petForm.controls['size'].errors?.['required'] && petForm.get('size')?.touched) {
          <p>El tamaño es obligatorio</p>
        }
      </div>
    </div>

    <!-- SEXO -->
    <div>
      <label for="sexo">Sexo (*)</label>
      <select name="sexo" id="sexo" formControlName="sexo">
        <option value="" selected disabled>Seleccione una opcion</option>
        @for (s of sexo; track $index) {
          <option [value]="s">{{ s }}</option>
        }
      </select>
      <div class="error-space">
        @if (petForm.controls['sexo']?.errors?.['required'] && petForm.get('sexo')?.touched) {
          <p>El sexo es obligatorio</p>
        }
      </div>
    </div>

    <!-- COLOR -->
    <div>
      <label for="color">Color (*)</label>
      <input type="text" id="color" formControlName="color" placeholder="Ingresa el color" />
      <div class="error-space">
        @if (petForm.controls['color'].errors?.['required'] && petForm.get('color')?.touched) {
          <p>El color es obligatorio</p>
        }
      </div>
    </div>

    <!-- CASTRADO -->
    <div class="check-group">
      <label for="castrado">El animal está castrado</label>
      <input type="checkbox" name="castrado" id="castrado" formControlName="castrado" />
    </div>

    <!-- OBSERVACIONES -->
    <div>
      <label for="notes">Observaciones</label>
      <textarea id="notes" formControlName="notes" rows="4"></textarea>
      <div class="error-space">
    @if (petForm.get('notes')?.hasError('maxlength') && petForm.get('notes')?.touched) {
      <p>Máximo 100 caracteres</p>
    }
  </div>
    </div>

    <!-- IMAGEN -->
    <div class="image-section">
      <label>Foto del animal</label>

      <div
        class="drop-zone"
        [class.hovering]="isHovering"
        (click)="fileInput.click()"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event)"
      >

        <input
          type="file"
          #fileInput
          (change)="onFileSelected($event)"
          style="display: none"
          accept="image/*" />

        @if (!imagePreview) {
          <div class="drop-text">
            <p>Arrastrá la foto aquí o hacé clic para subir</p>
            <small>JPG, PNG, WEBP</small>
          </div>
        } @else {
          <div class="preview-container">
            <img
              [src]="imagePreview"
              alt="Vista previa"
              class="preview-img" />
            <button
              type="button"
              (click)="clearImage(); $event.stopPropagation()"
              class="btn-remove">
              Cambiar imagen
            </button>
          </div>
        }
      </div>

      <input type="hidden" formControlName="image" />
      <div class="error-space">
        @if (petForm.controls['image']?.errors?.['required'] && petForm.get('image')?.touched) {
          <p>La foto del animal es obligatoria</p>
        }
      </div>
    </div> 

    <!-- BOTONES -->
    <div class="actions">
      <button type="submit" >
        @if (isUploading) { GUARDANDO... } @else { GUARDAR FORMULARIO }
      </button>

      <button type="button" (click)="onReset()">LIMPIAR FORMULARIO</button>
    </div>

  </form>



</div>

