@if (pets) {

    <div class="det-container">

        <div class="det-card">

            <!-- FOTO DEL ANIMAL -->
            <div class="det-photo">
                @if (pets.image) {
                    <img [src]="pets.image" alt="Foto de {{ pets.name }}" />
                } @else {
                    <div class="placeholder">Sin foto</div>
                }
            </div>

            <!-- INFORMACIÓN -->
            <h3>{{pets.name}}</h3>

            <p>Es un {{pets.type}}</p>
            <p>Tiene {{pets.age}} años</p>
            <p>Tamaño: {{pets.size}}</p>
            @if (pets && pets.sexo) { <p>Género: {{pets.sexo}}</p> }
            <p>Color: {{pets.color}}</p>
            <p>{{pets.castrado ? 'Está castrado' : 'NO está castrado'}}</p>

            <h3>Observaciones</h3>
            <p>{{pets.notes}}</p>

            <!-- BOTONES -->
            <div class="det-actions">

                @if (auth.isAdmin()) {
                    <a [routerLink]="['/edit', pets.id]">EDITAR</a>
                    <button (click)="borrarPets(pets.id)">BORRAR</button>
                } @else {
                    <a [routerLink]="['/solicitar', pets.id]">SOLICITAR ADOPCIÓN</a>
                }
            </div>

            <button class="btn-back" (click)="goBack()">
               ⬅ Volver al listado
            </button>


        </div>

    </div>

}
