<h2>Mis donaciones</h2>

@if (errorMessage) {
  <p>{{ errorMessage }}</p>
} @else {

  @if (myDonations.length === 0) {
    <p>Todavía no realizaste ninguna donación.</p>
  } @else {

    <p>Total donado: <strong>${{ getTotal() }}</strong></p>

    <table>
      <thead>
        <tr>
          <th>Monto</th>
          <th>Método</th>
          <th>Fecha</th>
          <th>Mensaje</th>
        </tr>
      </thead>
      <tbody>
        @for (d of myDonations; track d.id) {
          <tr>
            <td>${{ d.amount }}</td>
            <td>{{ d.method }}</td>
            <td>{{ d.date | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ d.message }}</td>
          </tr>
        }
      </tbody>
    </table>
    <button class="btn-back" (click)="goBack()">⬅ Volver</button>

  }

}