@if(!showOnlyAvailable){
    <h2>Nuestros animalitos del refugio</h2>
}@else {
     <h2>Nuestro historial de animalitos</h2>
}

<!-- Toggle de filtro - solo para admin -->
@if (auth.isAdmin()) {
  <div class="filter-bar">
    <label class="switch">
      <input type="checkbox" [(ngModel)]="showOnlyAvailable"  (ngModelChange)="onToggle($event)" />
      <span class="slider"></span>
    </label>
    <span class="filter-label">
      Historial
    </span>
  </div>
}


<ul>
    @for (pet of pets(); track $index) {
        <li>
           
            {{pet.name}} <p>quiere ser parte de tu familia!❤</p>
            <a [routerLink]="['/details', pet.id]">Detalles</a>
            @if (this.auth.isAdmin()) {
             <a [routerLink]="['/edit', pet.id]">Editar</a>
            <a (click)="eliminarPet(pet.id)">Eliminar</a>   
            }
            
        </li>
    }
</ul>
